/* font link start */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* /font link end */


/* astric start */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
    font-family: 'Poppins', sans-serif;
}

/* astric end */

/* color section start */
.bg-blue {
    background: #131e3a;
}

.bg-danger2 {
    background: #ff1c54;
}

.bg-danger3 {
    background: #5c327a;
}

.bg-danger4 {
    background: #ff1c54;
}

.bg-warning2 {
    background: #fa9005;
}

.text-danger2 {
    color: #ff1c54 !important;
}

.text-success2 {
    color: #a0e224;
}

.text-dark2 {
    color: #161616;
}

.top-10 {
    top: 10%;
}

.top-15 {
    top: 15%;
}

.top-20 {
    top: 20%;
}

.w-10 {
    width: 15%;
}

.bg-purple {
    background: #1F172F;
}

.fa-bold:before {
    display: none;
}

/* /color section end */



/* Banner Section start */
.banner {
    width: 100%;
    height: 650px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/background\ heart.jpg);
    background-size: 100% 100%;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #ff1c54;
    border-color: var(--bs-nav-tabs-link-active-border-color);
    border: 0px;
}

.nav-link {
    color: #fff;
}

.form-control:focus {
    border: 0px;
    box-shadow: 0px 0px 0px;
}

.thirdform form label {
    color: #fff;
}

.thirdform form select {
    background-color: #5c327a;
    color: #fff;
}

div.col-lg-4.col-md-6.col-sm-12.link {
    padding: 10px 0px 10px 10px;
}

div.col-lg-4.col-md-6.col-sm-12 {
    padding: 10px 0px 10px 0px;
}

div.col-lg-3.col-md-6.col-sm-12 {
    padding: 10px 0px 10px 0px;
}

div.col-lg-4.col-md-12.col-sm-12 {
    padding: 10px 10px 10px 0px;
}

/* /Banner Section end */


/* Fun Section start */
.fun {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/fun.jpg);
    background-size: cover;
    background-position: 100% 100%;
}

/* /Fun Section end */


/* /* Newsletters Section start */
.newsletters {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/news3.jpg);
    background-size: cover;
}

.col-lg-8 form input {
    background: #2A2439;
    height: 40px;
    color: #fff;
}

.col-lg-8 form ::placeholder,
.col-lg-8 form value {
    color: #fff;
    padding-left: 10px;
}

/* /Newsletters Section end  */


/* Destination Section start */
.card-body p {
    font-size: 14px;
}

/* /Destination Section end  */


/* Estimate Section start */
hr {
    margin: 0px 0px 10px 0px;
    opacity: 100%;
}


.estimate form label {
    display: none;
}

/* /Estimate Section end  */

/* Blog Section start */
.row .col-lg-6 .row .col-sm-8 p {
    margin-bottom: 0rem;
}

.row .col-lg-6 .row .col-sm-8 p+p+hr+p {
    font-size: 14px;
}

/* /Blog Section end */

/* Footer Section start */
footer {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/footer.jpg);
    background-size: cover;
    background-position: 100% 100%;
}

footer .container .row h4 {
    margin-bottom: 15px;
}

footer .container .row p {
    margin-bottom: 0rem;
    margin-bottom: 5px;
    font-size: 14px;
}

footer .bottom {
    margin-bottom: 0px;
}

footer .bottom li {
    padding-right: 21px;
    cursor: pointer;
    font-weight: 600;
}

footer li a:hover {
    color: #fff !important;
}

footer .bottom li:hover {
    color: #fff;
}

.ico {
    transition: all 0.9s ease !important;
}

.ico:hover {
    transform: rotate(360deg);
}

.iconlist .ic:hover {
    color: #fff !important;
}


/* /Footer Section end */

/* ============================================== RESPONSIVE DIMENSIONS =============================================== */
/* ==================================================================================================================== */


@media screen and (min-width:992px) {
    .circle {
        height: 80px;
        width: 80px;
        border: #ff1c54;
        border-radius: 50%;
        position: absolute;
        top: 7%;
        right: 1%;
        background-color: #ff1c54;
        color: #fff;
    }

    div.col-lg-2.font-awesome {
        padding: 7px 0px 0px 0px;
    }

    .circle :hover {
        background-color: #a0e224;
    }
}

@media screen and (max-width:1199px) {
    .fs-s {
        font-size: 14px;
    }
}

@media screen and (max-width:991px) {
    .font-awesome {
        display: none;
    }

    .estimate form select,
    .estimate form input {
        margin: 0px 20px 20px 0px;
    }

    .estimate .position-absolute img {
        display: none;
    }
    footer .bottom li {
        padding-right: 4px;
        font-size: 14px !important;
    }
}



@media screen and (max-width:575px) {
    .top-15 {
        top: 3%
    }

    .top-15 h1 {
        font-size: 18px;
    }

    .top-15>p.mt-4 {
        margin-top: 0rem !important;
    }

    .estimate form select,
    .estimate form input {
        margin: 0px 0px 20px 0px;
    }

    .col-sm-4 .img-fluid {
        width: 100%;
    }

    footer .container .row {
        padding: 0px 5px 0px 20px;
    }

    footer .container .row p {
        font-size: 12px;
    }

    footer .container .row h4 {
        text-align: center;
    }

}

@media screen and (max-width:320px) {
    .btn-width-80 {
        width: 80px !important;
        font-size: 10px !important;
        margin: 0px auto;
    }
}